<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <title>Chatbot</title>
</head>
<body>
    <div class="center">
        <img src="https://static.vecteezy.com/system/resources/previews/010/054/157/original/chat-bot-robot-avatar-in-circle-round-shape-isolated-on-white-background-stock-illustration-ai-technology-futuristic-helper-communication-conversation-concept-in-flat-style-vector.jpg" alt="Avatar" class="avatar"/>
        <div class="container">
            <div class="chatbot">
                <p>Hello. How can I help you today?</p>
                <span class="time-left">11:00</span>
            </div>
        </div>
    <div style="height: 80px;"><br></div>
        <img src="https://static.vecteezy.com/system/resources/previews/009/734/564/original/default-avatar-profile-icon-of-social-media-user-vector.jpg" alt="Avatar" class="avatar_right"/>
        <div class="container_right">
            <div class="chatbot">
                <p>Hi, I would like to buy a VPN.</p>
                <span class="time-right">11:01</span>
            </div>
        </div>
    </div>
</body>
</html>